<a href="https://colab.research.google.com/github/srondina/labs/blob/main/analise_precos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Analise de Precos

Informações de preços

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('HistoricoOperacao.csv')

In [ ]:
df.head()

,Cota,Data,DataHora,Hora,Operacao,OrdemBinance.clientOrderId,OrdemBinance.cummulativeQuoteQty,OrdemBinance.executedQty,OrdemBinance.fills,OrdemBinance.orderId,...,OrdemBinance.side,OrdemBinance.status,OrdemBinance.symbol,OrdemBinance.timeInForce,OrdemBinance.transactTime,OrdemBinance.type,OrdemBinance.workingTime,Ticker,Valor,_id
0,1.2,03/05/2023,2023-05-03T17:33:44.500Z,17:33:43,Compra,iilePwE2ymZcB5TKy7r3jF,13.0932,1.2,"[{""price"":""10.91100000"",""qty"":""1.20000000"",""co...",2201528438,...,BUY,FILLED,ATOMUSDT,GTC,1683146024384,MARKET,1683146024384,ATOMUSDT,10.910,6452c5282c2a1227f89d272c
1,1.2,03/05/2023,2023-05-03T17:36:53.232Z,17:36:52,Compra,v94jCX488prg0jpuhORloR,13.0776,1.2,"[{""price"":""10.89800000"",""qty"":""1.20000000"",""co...",2201531879,...,BUY,FILLED,ATOMUSDT,GTC,1683146213042,MARKET,1683146213042,ATOMUSDT,10.900,6452c5e52c2a1227f89d272d
2,1.2,03/05/2023,2023-05-03T17:37:04.658Z,17:37:04,Compra,4kXDaKTpTskPzi7WIA0loD,13.0680,1.2,"[{""price"":""10.89000000"",""qty"":""1.20000000"",""co...",2201532612,...,BUY,FILLED,ATOMUSDT,GTC,1683146224542,MARKET,1683146224542,ATOMUSDT,10.890,6452c5f02c2a1227f89d272e
3,1.2,03/05/2023,2023-05-03T17:37:11.267Z,17:37:10,Compra,W0g0XCq59HCm7pSSdHtnMq,13.0584,1.2,"[{""price"":""10.88200000"",""qty"":""1.20000000"",""co...",2201533205,...,BUY,FILLED,ATOMUSDT,GTC,1683146231152,MARKET,1683146231152,ATOMUSDT,10.880,6452c5f72c2a1227f89d272f
4,1.2,03/05/2023,2023-05-03T17:37:20.411Z,17:37:20,Compra,OqFXGixQ4MZkES7uzPHGd8,13.0452,1.2,"[{""price"":""10.87100000"",""qty"":""1.20000000"",""co...",2201533952,...,BUY,FILLED,ATOMUSDT,GTC,1683146240296,MARKET,1683146240296,ATOMUSDT,10.869,6452c6002c2a1227f89d2730

In [ ]:
df.dtypes

Cota                                    float64
Data                                     object
DataHora                                 object
Hora                                     object
Operacao                                 object
OrdemBinance.clientOrderId               object
OrdemBinance.cummulativeQuoteQty        float64
OrdemBinance.executedQty                float64
OrdemBinance.fills                       object
OrdemBinance.orderId                      int64
OrdemBinance.orderListId                  int64
OrdemBinance.origQty                    float64
OrdemBinance.price                      float64
OrdemBinance.selfTradePreventionMode     object
OrdemBinance.side                        object
OrdemBinance.status                      object
OrdemBinance.symbol                      object
OrdemBinance.timeInForce                 object
OrdemBinance.transactTime                 int64
OrdemBinance.type                        object
OrdemBinance.workingTime                  int64
Ticker                                   object
Valor                                   float64
_id                                      object
dtype: object

In [ ]:
order = df["OrdemBinance.fills"]

In [ ]:
order.head(10)

0    [{"price":"10.91100000","qty":"1.20000000","co...
1    [{"price":"10.89800000","qty":"1.20000000","co...
2    [{"price":"10.89000000","qty":"1.20000000","co...
3    [{"price":"10.88200000","qty":"1.20000000","co...
4    [{"price":"10.87100000","qty":"1.20000000","co...
5    [{"price":"10.95000000","qty":"1.20000000","co...
6    [{"price":"10.96000000","qty":"1.20000000","co...
7    [{"price":"10.97000000","qty":"1.20000000","co...
8    [{"price":"10.97700000","qty":"1.20000000","co...
9    [{"price":"10.99500000","qty":"1.20000000","co...
Name: OrdemBinance.fills, dtype: object